@use "./breakpoint" as b;

.first-screen-container {
  height: 100vh;
  background: rgb(93, 80, 254);
  background: linear-gradient(
    180deg,
    rgba(93, 80, 254, 1) 0%,
    rgba(133, 114, 252, 1) 100%
  );

  display: flex;
  flex-direction: column;

  .moon-in-background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    img {
      width: 37rem;
      height: auto;
      z-index: -1;
      @include b.breakpoint(large) {
        display: none;
      }
    }
  }

  .images-overlap {
    height: 70vh;
    width: 100%;
    position: relative;

    .town .big {
      position: absolute;
      bottom: -10vh;
      width: 100%;
      z-index: 2;

      @include b.breakpoint(xxl) {
        bottom: -17vh;
      }
      @include b.breakpoint(my) {
        bottom: -10vh;
      }
      @include b.breakpoint(extra) {
        bottom: -10vh;
      }
      @include b.breakpoint-up(xxl) {
        bottom: -20vh;
      }
      @include b.breakpoint(large) {
        display: none;
      }
    }
    .town .mob {
      position: absolute;
      bottom: -10vh;
      width: 100%;
      z-index: 2;

      @include b.breakpoint(xxl) {
        display: none;
      }
      @include b.breakpoint(my) {
        display: none;
      }
      @include b.breakpoint(extra) {
        display: none;
      }
      @include b.breakpoint-up(xxl) {
        display: none;
      }
      @include b.breakpoint(large) {
        display: block;
        bottom: -1rem;
      }
    }

    .big-cloud {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 3;
      @include b.breakpoint(large) {
        top: 60%;
      }
    }

    .small-1,
    .small-2 {
      position: absolute;
      top: 20%;
      left: 40%;
      transform: translate(-50%, -50%);
      z-index: 4;
    }
    .small-2 {
      left: 60%;
    }
  }

  .start-button {
    background-color: #5c2aff;
    height: 30vh;
    width: 100%;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: center;

    p {
      background-color: white;
      color: black;
      font-weight: 600;
      font-size: 1.5rem;
      padding: 1rem 5rem 1rem 5rem;
      border-radius: 100px;
      cursor: pointer;
      z-index: 5;
    }
  }
}
