@use "./breakpoint" as b;
.search-screen-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  //   background-color: cyan;

  form {
    z-index: 2;
    @include b.breakpoint(large) {
      width: 90%;
      z-index: 10;
    }

    .search-input-container {
      border-radius: 100px;
      overflow: hidden;
      display: grid;
      grid-template-columns: 1fr 7fr;
      margin-top: -20vh;
      box-shadow: 10px 0 12px 12px rgba(0, 0, 0, 0.098);

      input {
        width: 30vw;
        height: 4rem;
        padding: 1rem;
        border: 0;
        font-size: 20px;
        outline: none;
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0;
        background-color: white;
      }
    }
    .autocomplete {
      border-top: 1px solid rgba(0, 0, 0, 0.128);
      border-radius: 0 0 50px 50px;
      background-color: white;
      box-shadow: 0 10px 12px 12px rgba(0, 0, 0, 0.098);
      display: none;
      ul {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;
        padding: 2rem;
        li {
          cursor: pointer;
          font-size: 18px;
          font-weight: 500;
          list-style: none;
        }
      }
    }
  }
  .close-search {
    background-color: white;
    padding: 1rem;
    border-radius: 100px;
    box-shadow: 0 0 12px 12px rgba(0, 0, 0, 0.098);
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 7vw;
    cursor: pointer;
    z-index: 2;
  }

  display: none;
}
