@use "./breakpoint" as b;

.second-screen-container {
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  color: var(--bk-text);

  @include b.breakpoint(xxl) {
    width: 1440px;
    margin: 0 auto;
  }
  @include b.breakpoint(extra) {
    width: 1240px;
    margin: 0 auto;
  }
  @include b.breakpoint(large) {
    width: 100vw;
    margin: 0 auto;
    overflow: scroll;
  }

  // header
  .second-header {
    display: flex;
    justify-content: space-between;
    padding: 0;

    height: 5vh;
    margin: 0 auto;

    .title {
      font-size: 20px;
      font-weight: 600;
    }
    .search {
      cursor: pointer;
      padding-bottom: 1rem;
      display: flex;
      flex-direction: row;
      gap: 1rem;
      img {
        width: 25px;
        height: auto;
        @include b.breakpoint(extra) {
          width: auto;
          height: 25px;
        }
      }
    }
    .menu {
      cursor: pointer;
      padding-bottom: 1rem;
    }
  }
  //   body
  .second-body {
    // height: 85vh;
    // width: 1440px;
    margin: 0 auto;
    padding-bottom: 10rem;

    .second-body-header {
      min-height: 5vh;
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        padding: 0 2rem 0 0;
        font-weight: 600;
        @include b.breakpoint(large) {
          padding: 0 1rem 0 0;
        }
      }
      #todays,
      #tomorrows,
      #threeDay {
        cursor: pointer;
      }
    }

    .current-weather {
      background-color: #5d50fe;
      min-height: 45vh;
      width: 30%;
      margin: 0 auto;
      border-radius: 50px;
      position: relative;
      overflow: hidden;
      @include b.breakpoint(extra) {
        min-height: 50vh;
      }
      @include b.breakpoint(large) {
        width: 100%;
        min-height: 40vh;
      }

      .bk1 {
        position: absolute;
        width: 100%;
        height: 100%;
      }
      .bk2 {
        position: absolute;
        bottom: -5%;
        right: 0;
      }
      .current-data {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        display: flex;
        flex-direction: column;
        text-align: center;
        color: white;

        .temp {
          font-size: 7rem;
          @include b.breakpoint(extra) {
            font-size: 4rem;
          }
        }
        .desc {
          font-size: 18px;
          text-transform: capitalize;
          margin-bottom: 5rem;
        }
        .hum {
          font-size: 20px;
          font-weight: 600;
          margin-bottom: 1rem;
        }
        .humval {
          font-weight: 300;
          font-size: 20px;
        }
      }
    }

    .next-weather {
      min-height: 35vh;
      width: 100%;
      margin: 0 auto;
      margin-top: 1rem;
      @include b.breakpoint(large) {
        margin-top: 2rem;
      }

      .next-title {
        padding: 0 0 1rem 0;
        padding-left: 0;
        font-size: 20px;
        font-weight: 600;
      }
      .next-days {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 3rem;
        @include b.breakpoint(extra) {
          gap: 1rem;
        }
        @include b.breakpoint(large) {
          grid-template-columns: 1fr;
        }

        .days {
          padding: 1rem;
          display: flex;
          flex-direction: column;
          gap: 1rem;
          border-radius: 20px;
          //   max-height: 10rem;
          height: 15rem;
          text-align: center;
          color: white;
          cursor: pointer;
          position: relative;
          margin-top: 2rem;

          .single-days {
            font-weight: 600;
          }
          img {
            width: 4.5rem;
            height: auto;
            margin: 0 auto;
            padding: 0.3rem 0;
          }
          .temp-detail {
            font-size: 22px;
            font-weight: 800;
            padding: 0 0 1rem 0;
          }
          .extern {
            width: 70px;
            height: auto;
            position: absolute;
            bottom: -30px;
            right: 0;
          }
        }

        .first {
          background-color: #28e0ae;
          box-shadow: 10px 30px 20px 0px #28e0af59;
          transition: 0.1s ease-in-out;
        }
        .second {
          background-color: #ff0090;
          box-shadow: 10px 30px 20px 0px #ff009059;
          transition: 0.2s ease-in-out;
        }
        .third {
          background-color: #cb8f0e;
          box-shadow: 10px 30px 20px 0px #ffae0059;
          transition: 0.3s ease-in-out;
        }
        .four {
          background-color: #0090ff;
          box-shadow: 10px 30px 20px 0px #0090ff59;
          transition: 0.4s ease-in-out;
        }
        .five {
          background-color: #dc0000;
          box-shadow: 10px 30px 20px 0px #dc000059;
          transition: 0.5s ease-in-out;
        }
        .six {
          background-color: #0051ff;
          box-shadow: 10px 30px 20px 0px #0051ff59;
          transition: 0.6s ease-in-out;
        }
      }
    }
  }

  display: none;
}
